<section class="user-section">
<div class="card">
<h2>Friend requests</h2>
<% @user.pending_friends.each do |user| %>
<div class="buttons">
  <p class="post-comments"><%= user.email %></p>
  <%= link_to('accept', accept_path(inviter_id: user.id),method: :put, class: 'add_friend_btn')  %>
  <%= link_to('reject', destroy_path(delete_id: user.id),method: :delete, class: 'reject_friend_btn')  %>
</div>
<% end %>
<h3>Friends</h3>
 <% @user.friends.each do |user| %>
<p class="post-comments"><%= user.email %></p>
<% end %>
</div>
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
    <%= add_friend_btn(@user)  %>
         
  </article>
</section>
