<section class="user-section">
<div class="card">
  <%= friends_header(@user,"Pending friends","h2",@user.pending_friends ) %>
  <% @user.pending_friends.each do |user| %>
    <div class="buttons">
      <%= users_email(user) %>
      <%= accept(user)  %>
      <%= reject(user) %>
    </div>
  <% end %>

 <%= friends_header(@user,"Friends","h3",@user.friends) %>
  <% @user.friends.each do |user| %>
  <%= users_email(user) %>
  <% end %>
  </div>


  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
    <%= add_friend_btn(@user)  %>
         
  </article>
</section>
